name: Source formatting

on:
  push:
    branches:
      - main
  pull_request: {} # any target
  schedule:
    - cron: '0 0 * * 0'

jobs:
  format:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      actions: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Set up packages
        run: pip3 install -e '.[format]'
      - name: Check code formatting
        run: ./check_format.sh

  flake8:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install with dependencies
        run: pip3 install -e '.[flake8]'
      - name: Run flake8
        run: flake8 .
